@media screen and (min-width: 1200px) {
  $columns: 12;

  @for $i from 1 through $columns {
    .col-xl-#{$i} {
      width: percentage($i/$columns);
    }
  }

  .section {
    display: block;
    box-sizing: border-box;
    padding:70px 0;
  }
}

[class*="col-"] {
  padding: 0 15px;
  box-sizing: border-box;
}
