// I divided blog posts into two parts-big posts and relatively small posts
// and these properties belong to 'Latest Blog Posts' section on the Home page
// and other blog posts on the Blog and Single-Blog Page

%content {
  h3 {
    margin-bottom: $mb-10;
    a {
      color: $color-fiord;
      line-height: 26px;
      letter-spacing: 1px;
      @include transition(0.5s ease);
      &:hover {
        color: $color-royal-blue;
      }
    }
  }
  p {
    color: $color-bermuda-gray;
    font-size: $font-size - 2;
    letter-spacing: 0.88px;
    line-height: 26px;
    margin-bottom: $mb-20;
    box-sizing: border-box;
    padding: 0px 8px;
  }
}

%post-date {
  position: absolute;
  bottom: 3px;
  padding: 8px 25px;
  font-size: $font-size - 2;
  font-weight: 600;
  letter-spacing: $base-letter-spacing;
  color: $color-white;

  strong {
    text-transform: $uppercase;
    position: relative;
    z-index: 2;
  }
  span {
    position: relative;
    z-index: 2;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
    z-index: 1;
  }
}

%post-info {
  font-size: $font-size - 2;
  text-align: center;
  padding-top: 20px;
  a {
    color: $color-royal-blue;
    margin-right: 35px;
    i {
      margin-right: 7px;
    }
  }
}

.blog-post-big {
  background-color: $color-white;
  padding-bottom: $pb-20;
  margin-bottom: $mb-20;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  &-img {
    position: relative;
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
  }
  &-date {
    @extend %post-date;
    left: 42%;
  }
  .post-info {
    @extend %post-info;
  }
  &-content {
    box-sizing: border-box;
    padding: 0px 12px;
    @extend %content;
    margin-top: $mt-20;
    h3 {
      font-size: 18px;
    }
  }
  .single-blog-post {
    padding: 20px 25px 15px;
    &-text {
      color: $color-bermuda-gray;
      line-height: $base-line-height + 2;
      letter-spacing: $base-letter-spacing;
      margin-bottom: 30px;
    }

    &-images {
      margin-bottom: 25px;
      a {
        height: 185px;
        display: block;
        overflow: hidden;
        position: relative;
        border-radius: $base-border-radius;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: $base-border-radius;
          @include transition(0.5s ease);
          &:hover {
            @include transform(scale(1.1));
          }
        }
      }
    }
  }
}

.blog {
  &-post {
    border-radius: $base-border-radius;
    background-color: $color-white;
    margin: 25px 0;
    padding-bottom: $pb-20 + 5;
    cursor: $pointer;
    &-img {
      position: relative;
      img {
        width: 100%;
        height: 230px;
        border-radius: $base-border-radius;
      }
    }
    &-date {
      @extend %post-date;
      left: 35%;
    }
    .post-info {
      @extend %post-info;
    }
    &-content {
      margin-top: $mt-20 + 5;
      @extend %content;
    }
  }
}

.post-footer {
  box-sizing: border-box;
  padding: 15px 20px;
  border-top: 2px solid $color-polar;
  span {
    float: left;
    font-size: 14px;
    color: $color-bermuda-gray;
    font-weight: 300;
  }
  &-nav {
    float: right;
    ul {
      li {
        margin-left: 15px;
        a {
          color: $color-royal-blue;
        }
      }
    }
  }
  &::after {
    clear: both;
  }
}
