.blog {
  &-post {
    cursor: $pointer;
    &-img {
      img {
        width: 355px;
        height: 230px;
        border-radius: $border-radius-5;
      }
    }
    &-content {
        box-sizing: border-box;
        padding: 0px 15px;
        margin-top: $mt-20 + 5;
      h3 {
        margin-bottom: $mb-10;
        a {
          color: $color-fiord;
          line-height: 26px;
          letter-spacing: 1px;
          transition: 0.5s ease;
          &:hover {
            color: $color-royal-blue;
          }
        }
      }
      p {
        color: $color-bermuda-gray;
        font-size: $font-size - 2;
        letter-spacing: 0.88px;
        line-height: 26px;
        margin-bottom: $mb-20;
      }
    }
  }
}
