aside {
  .aside-nav-bar {
    background-color: $color-white;
    margin-top: 30px;
    border-radius: $base-border-radius;
    ul {
      li {
        box-sizing: border-box;
        padding: 10px 25px;
        height: 50px;
        line-height: 25px;
        border-bottom: 2px solid $color-polar;
        a {
          font-size: 14px;
          color: $color-fiord;
          i {
            font-size: 10px;
            margin-right: 20px;
            @include transition(0.3s ease);
          }
          span {
            float: right;
            font-size: 12px;
            background: $color-royal-blue;
            color: $color-white;
            padding: 0px 10px;
            border-radius: 100px;
            height: 20px;
            line-height: 20px;
            margin-top: 2px;
          }
        }
        &:hover {
          a {
            i {
              margin-right: 35px;
            }
          }
        }
      }
    }
  }
  .widget-tags {
    box-sizing: border-box;
    padding: 30px 30px 20px;
    background-color: $color-white;
    margin-top: 30px;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    a {
      display: inline-block;
      padding: 8px 10px;
      font-size: 14px;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: $base-border-radius;
      color: $color-fiord;
      background-color: $color-wild-sand;
      @include transition(0.3s ease);
      &:hover {
        background-color: $color-royal-blue;
        color: $color-white;
      }
    }
  }
  .aside-contact-us {
    margin-top: 30px;
    position: relative;
    height: 244px;
    img {
      width: 100%;
      height: 100%;
      border-radius: $base-border-radius;
    }
    &:after {
      content: "";
      position: absolute;
      background-color: $color-royal-blue;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: $base-border-radius;
      opacity: 0.8;
    }
    &-text {
      position: absolute;
      top: 8%;
      z-index: 5;
      box-sizing: border-box;
      padding: 20px;
      left: 0;
      right: 0;
      margin: auto;
      p {
        font-size: 18px;
        font-weight: 700;
        color: $color-white;
        line-height: 30px;
        letter-spacing: 1.12px;
        margin-bottom: 30px;
      }
    }
  }
}
