// These properties belong to small features on the Home page and About Us page

.features-small-item {
  @include transform(translateY(30px));
  @include transition(0.2s ease-in);
  opacity: 0;
  .small-item-desc {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    padding: 30px 20px;
    border-radius: $base-border-radius;
    @include transition(0.3s ease);
    background-color: $color-white;
    &:hover {
      background-color: $color-royal-blue;
      a {
        color: $color-polar;
        .features-small-item-text {
          p {
            color: $color-polar;
          }
        }
      }
    }
    a {
      color: $color-fiord;
      letter-spacing: 0.7px;
      text-align: center;
      font-weight: $font-weight + 200;
      .icon {
        margin: auto;
        width: 65px;
        height: 65px;
        background-color: $color-polar;
        border-radius: 100%;
        i {
          display: inline-block;
          font-size: $font-size + 4;
          margin-top: $mt-20;
          color: $color-royal-blue;
        }
      }
      .features-small-item-text {
        h4 {
          margin-bottom: $mb-10;
        }
        p {
          color: $color-bermuda-gray;
          font-size: $font-size - 2;
          letter-spacing: 0.88px;
          line-height: 26px;
        }
      }
    }
  }
}

.active {
  opacity: 1 !important;
  @include transform(translateY(0) !important);
}
