%input-style {
  width: 100%;
  border: 1px solid $color-gallery;
  border-radius: $base-border-radius;
  outline: none;
  box-sizing: border-box;
  padding: 20px 0 20px 15px;
  font-size: 16px;
  background-color: $color-white;
  font-family: $base-font;
  &:focus {
    border: 1px solid $color-royal-blue;
  }
}

.search {
  width: 100%;
  position: relative;
  input {
    width: 100%;
    outline: none;
    border: 1px solid $color-white;
    box-sizing: border-box;
    padding: 15px 0 15px 20px;
    @include transition(0.3s ease);
    border-radius: $base-border-radius;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
    background-color: $color-white;
    font-size: 16px;
    &:focus {
      border: 1px solid $color-royal-blue;
      padding-left: 30px;
    }
  }
  button {
    position: absolute;
    border: none;
    top: 7px;
    right: 10px;
    height: 35px;
    width: 35px;
    color: $color-white;
    border-radius: $base-border-radius;
    background-color: $color-royal-blue;
    outline: none;
    cursor: $pointer;
  }
}

.comment-form {
  label {
    display: block;
    color: $color-bermuda-gray;
    text-transform: $uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  input {
    height: 25px;
    @extend %input-style;
  }
  textarea {
    height: 150px;
    @extend %input-style;
  }
}
