// These properties belong to the items in the 'Cloud Services' and 'Design & Development' sections on the Home page
// and also 'Cloud Services' section on the FAQ page

.items-list {
  .item {
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    background-color: $color-white;
    height: 40px;
    text-align: center;
    border-radius: $base-border-radius;
    margin-bottom: $mb-20;
    overflow: hidden;
    a {
      display: inline-block;
      position: relative;
      @include transition(0.3s ease);
      height: 40px;
      width: 100%;
      top: 10px;
      &::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 100px;
        background: $color-polar;
        top: -18px;
        left: -75px;
        @include transform(rotate(60deg));
      }
      &:hover {
        @include transform(translateX(5px));
        &::after {
          background-color: $color-royal-blue !important;
        }
        i {
          color: $color-white !important;
        }
      }
      i {
        position: absolute;
        font-size: $font-size - 6;
        position: absolute;
        color: $color-fiord;
        left: 20px;
        z-index: 5;
        top: 5px;
      }
      span {
        color: $color-fiord;
      }
    }
  }
}

.active-item {
  &::after {
    background-color: $color-royal-blue !important;
  }
  i {
    color: $color-white !important;
  }
}

.items-list-img {
  &-right {
    padding-top: 65px;
    img {
      @include transform(translateX(55px));
      @include transition(0.5s ease);
      opacity: 0;
      max-width: 100%;
    }
  }
  &-left {
    padding-top: 80px;
    img {
      max-width: 100%;
      @include transform(translateX(0px));
      @include transition(0.5s ease);
      opacity: 0;
    }
  }
}

.reveal-left {
  opacity: 1 !important;
  @include transform(translateX(10px) !important);
}

.reveal-right {
  opacity: 1 !important;
  @include transform(translateX(30px) !important);
}
