#parallaxCounter,
#contactUsParallax,
#aboutUsParallax {
  overflow: hidden;
  position: relative;
}

#parallaxCounter {
  min-height: 315px;
}

#contactUsParallax {
  min-height: 215px;
}

#aboutUsParallax {
  min-height: 180px;
  .parallax-mirror {
    background-image: url("../images/home/2.jpg");
    .about-us-content {
      position: relative;
      z-index: 10;
      top: 100px;
      h1 {
        position: relative;
        font-size: ($font-size * 2) + 4;
        color: $color-white;
        line-height: 46px;
        letter-spacing: 1.4px;
        padding-bottom: 5px;
        &::after {
          content: "";
          position: absolute;
          background-color: $color-white;
          width: 20px;
          height: 2px;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
      ul {
        margin-top: 15px;
        li {
          color: $color-link-water;
          font-size: $font-size - 2;
          margin-left: $ml-10;
          a {
            font-size: $font-size - 2;
            color: $color-white;
          }
          i {
            font-size: $font-size - 6;
            margin-left: $ml-10 - 2;
          }
        }
      }
    }
    &::after {
      opacity: 0.5;
    }
  }
}

#parallaxCounter,
#contactUsParallax {
  .parallax-mirror {
    background-image: url("../images/parallax.jpg");
    &::after {
      opacity: 0.8;
    }
  }
}

.parallax-mirror {
  background-size: cover;
  //   background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 315px;
  &::after {
    content: "";
    position: absolute;
    background-color: $color-royal-blue;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .count-item {
    position: relative;
    top: 25px;
    z-index: 7;
    color: $color-white;
    text-align: center;
    transition: 0.3s ease;
    strong {
      display: block;
      font-size: ($font-size * 3) - 8;
      position: relative;
      margin-bottom: $mb-10 + 5;
      margin-top: $mt-10 * 7;
      &::after {
        content: "";
        position: absolute;
        left: 75px;
        top: 55px;
        width: 130px;
        border-bottom: 1px dashed $color-white;
      }
    }
    span {
      margin-top: $mt-30 + 5;
      display: block;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.83px;
    }
    &:hover {
      transform: translateY(-15px);
    }
  }
  .contact-us-info {
    position: relative;
    z-index: 8;
    text-align: center;
    top: 100px;
    p {
      font-size: $font-size + 6;
      color: $color-white;
      margin-bottom: 40px;
      span {
        text-decoration: underline;
      }
    }
  }
}
