//Colors
$color-royal-blue: #585ce9;
$color-bermuda-gray: #6f8ba4;
$color-white: #fff;
$color-fiord: #3b566e;
$color-wild-sand: #f5f5f5;
$color-cloud-burst: #1e3056;
$color-lynch: #697ba2;
$color-polar: #f7fafd;
$color-link-water: #e5e9f7;
$color-botticelli: #ccdcea;
$color-royal-blue-second: #4146e6;
$color-light-slate-blue: #777bff;
$color-geyser: #dee2e6;
$color-black-squeeze: #f4f8fb;
$color-gallery: #eeeeee;

//Fonts
$font-size: 16px;
$base-font: "Nunito Sans", sans-serif;
$font-weight: 400;
$uppercase: uppercase;
$heading-title: 28px;
$pointer: pointer;
$base-letter-spacing: 0.88px;
$base-line-height: 26px;

//Border
$base-border-radius: 5px;

//Paddings
$pl-10: 10px;
$pl-20: 20px;
$pl-30: 30px;

$pr-10: 10px;
$pr-20: 20px;
$pr-30: 30px;

$pt-10: 10px;
$pt-20: 20px;

$pb-10: 10px;
$pb-20: 20px;
$pb-30: 30px;

//Margins
$mr-10: 10px;
$mr-20: 20px;

$mb-10: 10px;
$mb-20: 20px;
$mb-30: 30px;

$mt-10: 10px;
$mt-20: 20px;
$mt-30: 30px;

$ml-10: 10px;
$ml-20: 20px;
$ml-30: 30px;
