// Make the page About Us responsive

// Extra small devices (portrait phones, less than 576px)
@include extra-small {
  @include col(xs);

  #header-area {
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 60px;
      }
    }
  }

  #features {
    .heading-content {
      p {
        padding: 0px 0px 20px 0px;
        letter-spacing: 0.5px;
      }
    }
    .features-small-item {
      margin-top: 20px;
    }
  }

  #ourMission {
    height: 760px;
    .details-img {
      width: 90%;
      left: 25px;
      img {
        width: 100%;
        height: 300px;
      }
    }

    .details-content {
      width: 90%;
      position: relative;
      top: 42%;
      left: 5%;
      p {
        padding: 5px 10px 5px;
      }
    }
  }

  #ourVision {
    height: 760px;
    .details-img {
      width: 90%;
      left: 30px;
      img {
        width: 100%;
        height: 370px;
      }
    }
    .details-content {
      width: 90%;
      position: relative;
      top: 50%;
      left: 5%;
    }
  }

  #footer-side {
    .footer-contact-us {
      margin-top: 40px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include small {
  @include col(sm);

  #header-area {
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 60px;
      }
    }
  }

  #features {
    .heading-content {
      p {
        padding: 0px 0px 20px 0px;
        letter-spacing: 0.5px;
      }
    }
    .features-small-item {
      margin-top: 20px;
    }
  }

  #ourMission {
    height: 690px;
    .details-img {
      width: 90%;
      left: 30px;
      img {
        width: 100%;
        height: 370px;
      }
    }
    .details-content {
      width: 90%;
      position: relative;
      top: 55%;
      left: 5%;
    }
  }

  #ourVision {
    height: 720px;
    .details-img {
      width: 90%;
      left: 30px;
      img {
        width: 100%;
        height: 370px;
      }
    }
    .details-content {
      width: 90%;
      position: relative;
      top: 53%;
      left: 5%;
    }
  }

  #footer-side {
    .footer-contact-us {
      margin-top: 40px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@include medium {
  @include col(md);

  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #header-area {
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 80px;
      }
    }
  }

  #features {
    .features-small-item {
      margin-top: 20px;
    }
  }

  #ourMission {
    height: 730px;
    .details-img {
      width: 90%;
      left: 45px;
      img {
        width: 100%;
      }
    }
    .details-content {
      width: 90%;
      position: relative;
      top: 67%;
      left: 43px;
    }
  }

  #ourVision {
    height: 790px;
    .details-img {
      width: 90%;
      left: 45px;
      img {
        width: 100%;
      }
    }
    .details-content {
      width: 90%;
      position: relative;
      top: 63%;
      left: 43px;
    }
  }
}

// Large devices (desktops, 992px and up)
@include large {
  @include col(lg);

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 80px;
      }
    }
  }

  #ourMission {
    height: 450px;
    .details-content {
      top: 95px;
    }
  }

  #ourVision {
    height: 450px;
    .details-content {
      top: 86px;
    }
  }
}
