// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  $columns: 12;
  @for $i from 1 through $columns {
    .col-xs-#{$i} {
      width: percentage($i/$columns);
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  $columns: 12;
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: percentage($i/$columns);
    }
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  $columns: 12;
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: percentage($i/$columns);
    }
  }
  aside {
    .aside-contact-us {
      &-text {
        top: 15%;
        left: 3%;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  $columns: 12;
  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      width: percentage($i/$columns);
    }
  }
}
