// Make the page Single Blog responsive

// Extra small devices (portrait phones, less than 576px)
@include extra-small {
  @include col(xs);

  #header-area {
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 60px;
        h1 {
          font-size: 26px;
          text-align: center;
        }
      }
    }
  }

  .blog-post-big {
    margin-bottom: 5%;
    .single-blog-post {
      &-images {
        a {
          margin: 15px 0;
        }
      }
    }
  }

  .post-comment {
    margin-bottom: 5%;
  }
}

// Small devices (landscape phones, 576px and up)
@include small {
  @include col(sm);

  #header-area {
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 60px;
        h1 {
          font-size: 26px;
          text-align: center;
        }
      }
    }
  }

  .blog-post-big {
    margin-bottom: 5%;
    .single-blog-post {
      &-images {
        a {
          margin: 15px 0;
        }
      }
    }
  }

  .post-comment {
    margin-bottom: 5%;
  }
}

// Medium devices (tablets, 768px and up)
@include medium {
  @include col(md);

  #header-area {
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 80px;
        h1 {
          font-size: 26px;
          text-align: center;
        }
      }
    }
  }

  .post-comment {
    margin-bottom: 5%;
  }
}

// Large devices (desktops, 992px and up)
@include large {
  @include col(lg);
}
