#askedQuestions {
  .heading-content {
    h1 {
      font-size: 30px;
      color: $color-royal-blue;
    }
  }
  .questions-list {
    background: #ffffff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-bottom: 30px;
    &-item {
      .question {
        border: 1px solid $color-polar;
        padding: 20px 30px;
        cursor: $pointer;
        &:hover {
          background-color: $color-polar;
          @include transition(0.5s ease);
          h5 {
            padding-left: 15px;
            @include transition(0.5s ease);
          }
        }
      }
      .answer {
        max-height: 0;
        overflow: hidden;
        @include transition(max-height 0.5s ease);

        p {
          padding: 20px 30px 10px;
          font-size: $font-size - 2;
          letter-spacing: $base-letter-spacing;
          line-height: $base-line-height;
          color: $color-bermuda-gray;
          margin-bottom: $mb-10 + 5;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@include extra-small {
  @include col(xs);

  #header-area {
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 60px;
      }
    }
  }

  #askedQuestions {
    .questions-list {
      margin-top: 10%;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include small {
  @include col(sm);

  #header-area {
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 60px;
      }
    }
  }

  #askedQuestions {
    .questions-list {
      margin-top: 10%;
    }
  }

  #services {
    .items-list-img {
      img {
        margin-left: 15%;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@include medium {
  @include col(md);

  #header-area {
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 80px;
      }
    }
  }

  #askedQuestions {
    .questions-list {
      margin-top: 10%;
    }
  }

  #services {
    .items-list-img {
      img {
        margin-left: 17%;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@include large {
  @include col(lg);

  #headingParallax {
    .parallax-mirror {
      height: 255px;
      top: 95px;
      .parallax-content {
        top: 80px;
      }
    }
  }
}
