#askedQuestions {
  .heading-content {
    h1 {
      font-size: 30px;
      color: $color-royal-blue;
    }
  }
  .questions-list {
    background: #ffffff;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-bottom: 30px;
    &-item {
      .question {
        border: 1px solid $color-polar;
        padding: 20px 30px;
        cursor: $pointer;
      }
      .answer {
        display: none;
        padding: 20px 30px 10px;
        p {
          font-size: $font-size - 2;
          letter-spacing: $base-letter-spacing;
          line-height: $base-line-height;
          color: $color-bermuda-gray;
          margin-bottom: $mb-10 + 5;
        }
      }
    }
  }
}

.answer.active-question {
  display: block !important;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  $columns: 12;
  @for $i from 1 through $columns {
    .col-xs-#{$i} {
      width: percentage($i/$columns);
    }
  }
 #askedQuestions{
   .questions-list{
     margin-top: 10%;
   }
 }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  $columns: 12;
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: percentage($i/$columns);
    }
  }
  #askedQuestions{
    .questions-list{
      margin-top: 10%;
    }
  }
  #services{
    .items-list-img{
      img{
        margin-left: 15%;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media screen and (min-width: 768px) and (max-width: 991.98px) {
  $columns: 12;
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: percentage($i/$columns);
    }
  }
  #askedQuestions{
    .questions-list{
      margin-top: 10%;
    }
  }
  #services{
    .items-list-img{
      img{
        margin-left: 17%;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  $columns: 12;
  @for $i from 1 through $columns {
    .col-lg-#{$i} {
      width: percentage($i/$columns);
    }
  }
}