#welcome {
  background-image: url("../images/header-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  .welcome-images-group {
    margin-top: $mt-20 + 5;
    .first-img {
      position: relative;
      height: 350px;
      float: left;
      border-radius: 5px;
      overflow: hidden;
      img {
        object-fit: cover;
        border-radius: 5px;
        width: 100%;
        height: 350px;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .second-img {
      position: relative;
      border-radius: 5px;
      float: left;
      height: 180px;
      top: 15px;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        transition: transform 0.3s ease;
        height: 180px;
        &:hover {
          transform: scale(1.1);
        }
      }
      i {
        position: absolute;
        left: 90px;
        top: 42px;
        font-size: 64px;
        color: $color-white;
      }
    }
    &::after {
      clear: both;
    }

    .third-img {
      position: relative;
      border-radius: 5px;
      float: left;
      overflow: hidden;
      height: 250px;
      img {
        border-radius: 5px;
        width: 100%;
        height: 250px;
        object-fit: cover;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .fourth-img {
      position: relative;
      border-radius: 5px;
      float: right;
      overflow: hidden;
      height: 265px;
      top: 15px;
      img {
        height: 265px;
        width: 100%;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background-color: $color-royal-blue;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        border-radius: 5px;
      }

      .img-text {
        position: absolute;
        right: 30px;
        top: 90px;
        z-index: 3;
        color: $color-white;
        width: 225px;
        strong {
          display: inline-block;
          font-size: $font-size - 2;
          margin-bottom: $mb-10;
          letter-spacing: 0.88px;
        }
        p {
          font-size: $font-size + 2;
          letter-spacing: 1.12px;
          line-height: 28px;
        }
      }
    }
    &::after {
      clear: both;
    }
  }
}

#services,
#pricingPlans {
  background-color: $color-polar;
}

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) {
//   $columns: 12;
//   @for $i from 1 through $columns {
//     .col-md-#{$i} {
//       width: percentage($i/$columns);
//     }
//   }

//   .container {
//     width: 980px;
//     margin: auto;
//   }
// }
