#welcome {
  background-image: url("../images/header-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  .welcome-content {
    margin-top: 100px;
  }
  .welcome-images-group {
    margin-top: $mt-20 + 5;
    .first-img {
      position: relative;
      height: 350px;
      float: left;
      border-radius: $base-border-radius;
      overflow: hidden;
      img {
        object-fit: cover;
        border-radius: $base-border-radius;
        width: 100%;
        height: 350px;
        @include transition(transform 0.3s ease);
        &:hover {
          @include transform(scale(1.1));
        }
      }
    }
    .second-img {
      position: relative;
      border-radius: $base-border-radius;
      float: left;
      height: 180px;
      top: 15px;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        @include transition(transform 0.3s ease);
        height: 180px;
        &:hover {
          transform: scale(1.1);
        }
      }
      i {
        position: absolute;
        left: 90px;
        top: 42px;
        font-size: 64px;
        color: $color-white;
      }
    }
    &::after {
      clear: both;
    }
    .third-img {
      position: relative;
      border-radius: $base-border-radius;
      float: left;
      overflow: hidden;
      height: 250px;
      img {
        border-radius: $base-border-radius;
        width: 100%;
        height: 250px;
        object-fit: cover;
        @include transition(transform 0.3s ease);
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .fourth-img {
      position: relative;
      border-radius: $base-border-radius;
      float: right;
      overflow: hidden;
      height: 265px;
      top: 15px;
      img {
        height: 265px;
        width: 100%;
        @include transition(transform 0.3s ease);
        &:hover {
          transform: scale(1.1);
        }
      }
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background-color: $color-royal-blue;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        border-radius: $base-border-radius;
      }
      .img-text {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: 90px;
        z-index: 3;
        color: $color-white;
        width: 225px;
        strong {
          display: inline-block;
          font-size: $font-size - 2;
          margin-bottom: $mb-10;
          letter-spacing: 0.88px;
        }
        p {
          font-size: $font-size + 2;
          letter-spacing: 1.12px;
          line-height: 28px;
        }
      }
    }
    &::after {
      clear: both;
    }
  }
}

#services,
#pricingPlans {
  background-color: $color-polar;
}

// Extra small devices (portrait phones, less than 576px)
@include extra-small {
  @include col(xs);

  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #header-area {
    background-color: white;
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  .heading-content {
    p {
      padding: 0px 0px 40px 0px;
    }
  }

  #welcome {
    padding-top: 90px;
    .welcome-content {
      margin-top: 0px;
      .heading-content {
        text-align: center;
      }
    }
    .welcome-images-group {
      .first-img {
        height: 290px;
        img {
          height: 290px;
        }
      }
      .second-img {
        i {
          left: 60px;
          top: 60px;
          font-size: 50px;
        }
      }
      .third-img {
        height: 200px;
      }
      .fourth-img {
        .img-text {
          right: 0;
          top: 65px;
          width: 160px;
          text-align: center;
        }
      }
    }
  }

  #features {
    .features-small-item {
      margin-top: 20px;
      .small-item-desc {
        padding: 20px 0px;
      }
    }
  }

  #services {
    .items-list-img-right {
      img {
        transform: translateX(32px);
      }
    }
  }

  #designDevelopment {
    .items-list-img-left {
      transform: translateX(-10px);
    }
  }

  #services,
  #designDevelopment {
    .items-list {
      display: block;
    }
  }

  #parallaxCounter {
    min-height: 830px;
    .parallax-mirror {
      min-height: 100%;
      .count-item {
        top: -33px;
      }
    }
  }

  #ourTeam {
    .team-item {
      margin-bottom: 25%;
    }
  }

  #pricingPlans {
    .pricing-item {
      margin-bottom: 10%;
    }
  }

  #contactUsParallax {
    .contact-us-info {
      top: 55px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@include small {
  @include col(sm);

  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #header-area {
    background-color: white;
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #welcome {
    padding-top: 90px;
    .welcome-content {
      margin-top: 0px;
      text-align: center;
    }
  }

  #services,
  #designDevelopment {
    .items-list {
      display: block;
    }
  }

  #parallaxCounter {
    min-height: 830px;
    .parallax-mirror {
      min-height: 100%;
      .count-item {
        top: -33px;
      }
    }
  }

  .team-item {
    margin-bottom: 25%;
    .team-details {
      .team-info {
        p {
          padding: 0px 0px;
        }
      }
    }
  }

  .pricing-item {
    margin-bottom: 5%;
  }

  #contactUsParallax {
    .parallax-mirror {
      .contact-us-info {
        top: 50px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@include medium {
  @include col(md);

  #header-area {
    background-color: white;
    .header-nav-bar {
      display: none;
    }
    .buttons {
      display: none;
    }
    .menu-trigger {
      display: inline-block;
    }
  }

  #welcome {
    padding-top: 90px;
    .welcome-content {
      text-align: center;
      margin-top: 0px;
    }
  }

  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #services {
    .heading-content {
      margin-top: 10%;
    }
    .items-list-img-right {
      img {
        margin-left: 15%;
      }
    }
  }

  #designDevelopment {
    .items-list-img-left {
      img {
        margin-left: 15%;
      }
    }
  }

  #parallaxCounter {
    min-height: 440px;
    .parallax-mirror {
      height: 100%;
      .count-item {
        top: -30px;
        strong {
          &::after {
            left: 90px;
          }
        }
      }
    }
  }

  .team-item {
    margin-bottom: 25%;
    .team-details {
      .team-info {
        p {
          padding: 0px 0px;
        }
      }
    }
  }

  .pricing-item {
    margin-bottom: 10%;
  }

  #contactUsParallax {
    .contact-us-info {
      top: 60px;
    }
  }
}

// Large devices (desktops, 992px and up)
@include large {
  @include col(lg);

  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  #header-area {
    background-color: white;
    .menu-trigger {
      display: none;
      &-icon {
        display: none;
      }
    }
  }

  #welcome {
    .welcome-images-group {
      .fourth-img {
        .img-text {
          top: 65px;
          width: 165px;
        }
      }
    }
  }

  .team-item {
    margin-bottom: 25%;
    .team-details {
      .team-info {
        p {
          padding: 0px 10px;
        }
      }
      .team-member-img {
        top: 250px;
      }
    }
  }

  #contactUsParallax {
    .contact-us-info {
      top: 70px;
    }
  }

  #blogPosts {
    .blog-post {
      &-content {
        h3 {
          a {
            letter-spacing: 0.65px;
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include col(xl);

  .section {
    display: block;
    box-sizing: border-box;
    padding: 70px 0;
  }

  #header-area {
    .menu-trigger {
      display: none;
      &-icon {
        display: none !important;
      }
    }
  }
}
