// These properties apply to all pages' footer part

#footer-side {
  padding-top: 65px;
  background-color: $color-royal-blue;
  .footer-logo-text {
    margin-top: $mt-30;
    p {
      font-size: $font-size - 2;
      color: $color-white;
      line-height: $base-line-height;
      letter-spacing: $base-letter-spacing;
      margin-bottom: $mb-30 + 10;
    }
  }
  h5 {
    color: $color-white;
    letter-spacing: 0.69px;
    margin-bottom: $mb-30;
  }
  .footer {
    &-nav-bar {
      ul {
        li {
          line-height: $base-line-height + 6;

          a {
            span {
              font-size: $font-size - 2;
              display: inline-block;
              color: $color-link-water;
              @include transition(0.4s ease);
              &:hover {
                @include transform(translateX(5px));
              }
            }
            i {
              margin-right: $mr-10 + 2;
              font-size: $font-size - 7;
              color: $color-white;
            }
          }
        }
      }
    }
    &-contact-us {
      .footer {
        &-address {
          p {
            color: $color-link-water;
            font-size: $font-size - 2;
            line-height: $base-line-height;
            letter-spacing: $base-letter-spacing;
            margin-bottom: $mb-10 - 5;
          }
        }
        &-social-media {
          float: left;
          li {
            padding-right: $pr-10;
            a {
              color: $color-link-water;
            }
          }
        }
      }
    }
  }
  .copyright {
    color: $color-link-water;
    font-size: $font-size - 2;
    letter-spacing: $base-letter-spacing;
    padding: 35px 0;
    margin-top: $mt-30 + 5;
    border-top: 1px solid $color-light-slate-blue;
  }
}
