// %nav-bar-style {

// }

#header-area {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 100;
  padding-top: 30px;
  padding-bottom: 20px;
  transition: 0.5 ease;
  .logo {
    width: 17%;
    float: left;
  }
  .header-nav-bar {
    display: inline-block;
    ul {
      li {
        padding-left: $pl-20;
        padding-right: $pr-20;
        a {
          display: block;
          height: 30px;
          color: $color-fiord;
          font-size: $font-size - 2;
          font-weight: $font-weight + 200;
          letter-spacing: 1px;
        }
      }
    }
    .submenu {
      position: relative;
      transition: 0.5s ease;
      a {
        i {
          display: inline-block;
          font-size: 8px;
          margin-left: 5px;
        }
      }
      ul {
        position: absolute;
        visibility: hidden;
        width: 200px;
        z-index: 10;
        box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        background-color: $color-white;
        transform: translate(0px, -20px);
        li {
          border-bottom: 1px solid #f5f5f5;
          padding-left: 0;
          padding-right: 0;
          a {
            display: block;
            position: relative;
            color: $color-fiord;
            height: 35px;
            padding-left: $pl-20;
            line-height: 35px;
            font-size: $font-size - 2;
            &:hover:before {
              content: "";
              position: absolute;
              width: 3px;
              height: 35px;
              left: 0;
              top: 0;
              bottom: 0;
              background-color: $color-royal-blue;
              transition: 0.5s ease;
            }
            &:hover {
              background-color: $color-wild-sand;
              padding-left: $pl-20 + 5;
              transition: 0.5s ease;
            }
          }
        }
      }
      &:hover ul {
        visibility: visible;
        z-index: 10;
        transform: translate(0px, 0px);
        transition: 0.5s ease;
      }
    }
  }
  &:after {
    clear: both;
  }
  .menu-trigger {
    float: right;
    &-icon {
      cursor: pointer;
      float: right;
      span {
        display: block;
        position: relative;
        width: 30px;
        height: 2px;
        background-color: black;
        transition: 0.5s ease;
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: black;
          bottom: 10px;
          transition: 0.5s ease;
        }
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: black;
          top: 10px;
          transition: 0.5s ease;
        }
      }
    }
    .menu-bar {
      display: none;
      margin-top: 18px;
      background-color: white;
      position: fixed;
      width: 85%;
      li {
        padding: 15px 0;
        a {
          font-size: 18px;
          color: $color-fiord;
          margin-left: 4%;
          i {
            font-size: 12px;
            float: right;
            margin-right: 4%;
          }
        }
      }
      .submenu {
        &-list {
          display: none;
          margin-top: 10px;
          margin-left: 30px;
        }
      }
    }
  }
}

.menu-trigger-icon.open {
  span {
    background-color: transparent !important;
    &::after {
      transform: rotate(-45deg) translate(-10px, 7px);
    }
    &::before {
      transform: rotate(45deg) translate(-6px, -6px);
    }
  }
}

.active {
  display: block !important;
}

.scrolled {
  background-color: $color-white;
  box-shadow: 0 0 7px 0px #b7b2b2;
}
